.armband-container {
  background: linear-gradient(180deg, #7D593F 0%, #44403D 100%);
  color: white;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100%;
}

.armband-container p {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  text-align: center;
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 10px;
  border: 3px solid #333E28;
  background: #678244;
  color: white;
  margin: 5px;
  padding: 8px;
}

.input-field::placeholder {
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
}

.button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.scan-button {
  font-family: 'Joti One', cursive;
  font-size: large;
  width: 100%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.796);
  background-color: #F4C345;
  color: #000000;
  padding: 7% 20%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 50px;
}

.add-button {
  font-family: 'Joti One', cursive;
  font-size: large;
  width: 100%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.796);
  background-color: #D98624;
  color: #ffffff;
  padding: 7% 15%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wallet-container {
  display: flex;
  width: auto;
}

.wallet-container img {
  object-fit: none;
  width: auto;
}

.armband-item {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.796);
  margin-bottom: 10px;
  display: flex;
  background-color: #3B5C58;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
}

.armband-container ul {
  display: flex;
  width: 100%;
  padding: 0;
  list-style-type: none;
  flex-direction: column;
}

.armband-item .input-field {
  font-family: 'Joti One', cursive;
  background: none;
  border: none;
  width: 100%;
  text-align: center;
}

.balance-input {
  font-family: 'Joti One', cursive;
  background: none;
  border: none;
  color: white;
  text-align: center;
  width: 50px;
}

.balance-button {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.796);
  font-family: 'Joti One', cursive;
  background-color: #427F5E;
  color: white;
  border: none;
  border-radius: 50%;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
  font-size: large;
}

.balance-button:hover {
  background-color: #45a049;
}

.delete-button {
  object-fit: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.delete-icon {
  width: 20px;
  height: 20px;
}
